<section class="headerSection" style=" padding: 0px; margin: auto; ">
        <div class="HeaderFixedBox">
            <div class="topHeader container">

                <div class="headerItems">

                    <div class="headerLogoAndImg">
                        <div class="menuBtn">
                            <i class="fas fa-bars"></i>
                        </div>
                    </div>

                    <div class="logo">
                        <a href="/">
                         <img   src="/assets/images/logo.PNG" style="cursor: pointer;" />
                        </a>
                    </div>

                    <div class="header">
                        
                        <div class="headerUserProfileDetials">

                            <!-- <div class="cartIcone">
                                <a href="#">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span class="notificationStatus"></span>
                                </a>
                            </div>
                            <div class="notifiationIcone">
                                <a href="/notification">
                                    <i class="fas fa-bell"></i>
                                    <span class="notificationStatus"></span>
                                </a>
                            </div> -->
                            <!-- <div class="headerUserProfileImg">
                                <img src="https://prium.github.io/falcon/v3.3.0/assets/img/team/3-thumb.png">
                            </div> -->
                            <!-- <div class="profileDteialsDropDown">
                                <ul>
                                    <li>
                                        <a href="#">Profile Account</a>
                                    </li>
                                    <li>
                                        <a href="#">Setting</a>
                                    </li>
                                    <li>
                                        <a href="#">Logout</a>
                                    </li>
                                </ul>
                            </div> -->
                            <span class="currentUserName">
                                <%=currentUser.firstname%>
                            </span>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>